@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
	font-family: 'Inter', sans-serif;
	background-color: #040407;
	width: 100%;
}

canvas {
	margin: 0 auto;
	position: relative;
	z-index: -10;
}
