html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	width: 100%;
	text-rendering: optimizeSpeed;
	background-color: #040407;
}

main {
	@apply min-h-screen bg-[#040407] relative z-[1] border-b border-solid border-white/10;
}

canvas {
	margin: 0 auto;
	position: relative;
	z-index: -10;
}

.highlight-name {
	@apply relative inline-block;
}

.highlight-name:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	/* @apply bg-gradient-to-br from-[#14fff7] to-[#001aff]; */
	@apply bg-bright-primary;
}

.highlight-name:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.link {
	@apply text-transparent bg-clip-text bg-cyan-400;
}

.link::after {
	background-image: linear-gradient(45deg,
			hsl(199deg 100% 57%) 0%,
			hsl(196deg 100% 58%) 20%,
			hsl(193deg 100% 58%) 40%,
			hsl(190deg 100% 58%) 60%,
			hsl(186deg 100% 57%) 80%,
			hsl(183deg 100% 55%) 100%);
}

::-moz-selection {
	/* Code for Firefox */
	color: rgb(231 231 233 / 1);
	background: rgb(231 231 233 / 0.2);
}

::selection {
	color: rgb(231 231 233 / 1);
	background: rgb(231 231 233 / 0.2);
}

.reveal {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	clip-path: text;
	pointer-events: none;
	opacity: 1;
	@apply bg-bright-primary;
}

.highlight {
	@apply text-transparent bg-clip-text bg-blue-gradient;
}

.visible-animate {
	opacity: 100% !important;
	transform: translateY(0) !important;
}

@import 'header';
@import 'footer';
@import 'contact';
@import 'showcase';
@import 'about';
@import 'project';
@import 'button';